<h2> <%= @article.title %> </h2> 
<p> <%= @article.body %> </p>
<p>
    <%= button_to "Update", edit_article_path(@article), method: :get %>
    <%= button_to "Destroy", @article, method: :delete %>
</p>
<p> <%= link_to "Back", articles_path %> </p>

<% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible">
        <%= msg %>
    </div>
<% end %>
