<h2>Edit User, <%= @user.first_name %>.</h2>

<%= form_with model: @user, method: :PUT, local: false do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :surname %> 
  <%= f.text_field :surname %><br>
  <%= f.label :age %>
  <%= f.text_field :age %><br>
  <% if current_user.admin %>
    <%= f.label :admin %>
    <%= f.check_box :admin %><br>
  <% end %>
  <%= f.submit "Update User" %>
<% end %>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <%= msg %>
  </div>
<% end %>
