<body>
  <h1> Users </h1>

  <%= link_to "Articles", "articles#index"%>

  <% @users.each do |user| %>
      <p><%= link_to user.first_name, user_path(user.id) %> </p>
  <% end %>

  <%= link_to "New User", "users/new"%>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible">
      <%= msg %>
    </div>
  <% end %>
</body>
