<body>
  <h1> Users Creation </h1>
  <%= form_with model: @user, method: 'users#new', local: false do |f|%>
    <%= f.label :first_name %> <%= f.text_field :first_name %><br>
    <%= f.label :surname %> <%= f.text_field :surname %><br>
    <%= f.label :age %> <%= f.text_field :age %><br>

    <%= f.label :admin %>
    <%= f.check_box :admin %><br>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
    <%= f.submit %>
  <% end %>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible">
      <%= msg %>
    </div>
  <% end %>
</body>
