<table>
  <tr>
    <th>First Name: </th>
    <th><%= @user.first_name %></th>
  </tr>
  <tr>
    <th>Surname: </th>
    <th><%= @user.surname %></th>
  </tr>
  <tr>
    <th>Age: </th>
    <th><%= @user.age %></th>
  </tr>
  <tr>
    <th>Gmail:</th>
    <th><%= @user.email %></th>
  </tr>
</table>
<p>
    <%= button_to "Update", edit_user_path(@user), method: :get %>
    <%= button_to "Destroy", @user, method: :delete %>
</p>
<p> <%= link_to "Back", users_path %> </p>

<h3> <%= @user.first_name %> Articles </h3>

<p> <%= link_to "New Article", new_user_article_url(current_user.id) %> </p>

<% @user.articles.each do |a| %>
    <p><%= link_to a.title, user_article_path(current_user.id, a.id) %> </p>
<% end %>

<% flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible">
        <%= msg %>
    </div>
<% end %>
